{{define "accueil"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/styles/accueil.css">
</head>

<body>

    <header>
        <div class="logo"><strong>ForumXYZ</strong></div>
        <nav>
            <a href="/accueil">Accueil</a>
            <a href="#">Catégories</a>
            <a href="#">Recherche</a>
            <a href="/connexion">Connexion</a>
        </nav>
    </header>

    <main>
        {{if .Error}}
        <p>Erreur lors de la récupération des données</p>
        {{else}}
        {{range .TopicsWithUsers}}
        <div class="thread">
            <a href="/topic?id={{.Topics.Topic_id}}">{{.Topics.Title}}</a>
            <p>Posté par <strong>{{.Users.Name}}</strong> {{.Topics.Created_at}}</p>
        </div>
        {{end}}
        {{end}}
    </main>

    <footer>
        <p>
            <a href="#">À propos</a> |
            <a href="#">Contact</a> |
            <a href="#">Politique de confidentialité</a>
        </p>
    </footer>

</body>

</html>
{{end}}