{{define "inscription"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/inscription.css">

    <title>Forum</title>
</head>

<body>
    <h2>Inscription</h2>
    <form action="/inscription/traitement" method="post">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Adresse e-mail :</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="S'inscrire">

        {{if .}}
        <p>Erreur donnée manquante</p>
        {{end}}
    </form>
</body>

</html>
{{end}}